.resume {

    @accent-color: #F2CD88;

    position: relative;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;

    ::v-deep .vue-css-doodle--absolute {

        top: -24px;
        left: 24px;

    }

    &,
    &-page {

        width: 100%;
        max-width: 21cm;
        margin: 0 auto;

    }

    &-page {

        display: flex;
        flex-flow: row nowrap;
        flex: 1;
        overflow: hidden;

    }

    .word-break--all {

        // stylelint-disable-next-line
        word-break: break-all;

    }

    .img {

        margin-bottom: 24px;

    }

    .picture {

        width: 180px;
        height: 180px;
        margin: 0 auto;
        border: 2px solid white;
        border-radius: 50%;
        transform: rotate( 0 );
        transition: all 1s cubic-bezier( .175, .885, .32, 1.275 );

        &:hover {

            transform: rotate( 360deg );

        }

    }

    .left-column {

        display: flex;
        flex: 1 1 100%;
        flex-direction: column;

        width: 100%;
        padding: 0;
        color: #333;
        text-align: left;

        @media screen and ( min-width: 800px ), print {

            flex: 1 1 34%;
            width: 34%;
            max-width: 34%;
            min-width: 34%;

        }

        .page-inside,
        .page-break {

            background-color: @accent-color;

        }

        .page-inside {

            padding-right: 30px;
            padding-left: 30px;

        }

        .section {

            > .icon {

                > .section-headline {

                    letter-spacing: normal;

                    &::after {

                        display: none;

                    }

                }

            }

        }

        .page--next {

            > .section {

                margin-right: -16px;
                margin-left: -16px;
                padding-bottom: 24px;

                &:first-child {

                    padding-top: 12px;

                }

            }

        }

    }

    .right-column {

        display: flex;
        flex: 1 1 100%;
        flex-direction: column;
        width: 100%;

        @media screen and ( min-width: 800px ), print {

            flex: 1 1 66%;
            width: 66%;
            max-width: 66%;
            min-width: 66%;

        }

        .page-inside {

            padding: 6px 30px 2px;
            background-color: #fff;

        }

        .page--next {

            > .divider {

                &:first-child {

                    padding-top: 8px;
                    padding-bottom: 8px;

                }

            }

        }

    }

    .left-column,
    .right-column {

        .section {

            &:first-child {

                margin-top: 8px;

            }

            &:last-child {

                margin-bottom: 0;

            }

        }

    }

    .page-inside {

        position: relative;
        overflow: hidden;
        min-height: 29.69cm;

        @media screen and ( min-width: 800px ), print {

            height: 29.69cm;

        }

        &.cover-letter {

            display: flex;
            flex: 1 1 100%;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            background: linear-gradient( 180deg, transparent, #F2CD88, transparent );
            border-bottom: 1px solid @accent-color;

            ::v-deep a {

                color: indianred;

            }

            .cover-letter__section {

                width: 100%;
                margin: 0 auto;
                padding: 8px;
                color: white;
                background-color: #333;
                border: 8px outset @accent-color;
                border-radius: 3px;
                mix-blend-mode: normal;
                overflow: hidden;

                @media screen and ( min-width: 800px ), print {

                    max-width: 18cm;
                    padding: 50px 35px;

                }

                // stylelint-disable-next-line
                ::v-deep hr {

                    margin-left: -100%;
                    background-color: white;

                }

                // stylelint-disable-next-line
                ::v-deep ul {

                    padding-left: 20px;
                    list-style: circle;

                }

            }

        }

    }

    .person-container {

        padding-top: 14px;

        address + p {

            margin-left: -16px;
            margin-right: -16px;

        }

    }

    .playing-container {

        blockquote {

            margin-left: -16px;
            margin-right: -16px;

        }

    }

    .divider {

        display: block;
        padding: 8px 0;

    }

    .section {

        margin-bottom: 16px;

        > .icon {

            display: flex;
            flex: 1 1 100%;
            flex-direction: row;
            align-items: center;
            justify-items: center;
            margin: 4px -4px;

            .material-icons {

                position: static;

            }

            > .section-headline {

                &::after {

                    display: block;
                    width: 100%;
                    height: 1px;
                    margin-left: 18px;
                    background-color: rgba( 51, 51, 51, .09 );
                    content: "";

                }

            }

        }

    }

    .about-container {

        margin-left: -16px;
        margin-right: -16px;

        ::v-deep a {

            color: indianred;

        }

    }

    pre {

        margin: 0;
        font-weight: normal;
        line-height: 1;
        text-transform: uppercase;

    }

    button,
    a {

        display: inline-block;
        width: 100%;
        color: currentColor;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;

        &:visited {

            color: currentColor;

        }

    }

    .material-icons {

        position: relative;
        top: 5px;
        width: 24px;
        height: 24px;

    }

    .out-of-margins {

        margin-right: -30px;
        margin-left: -30px;

        &--small {

            margin-right: -12px;
            margin-left: -12px;

        }

    }

    .small-icon {

        top: 2.5px;
        font-size: 1.5em;

    }

    .contact-icon {

        margin-right: 8px;
        color: currentColor;
        font-size: 1.5em;
        font-style: normal;

        &__label {

            width: 100%;

        }

        &:not(.material-icons) {

            position: relative;

            top: 2px;

        }

    }

    .contact-icon-svg {

        position: relative;

        top: 5px;
        margin-top: -2.5px;
        margin-right: 8px;
        transform: scale( 1 );

    }

    .contact-icon-svg path {

        fill: currentColor;

    }

    .external-link {

        display: block;
        margin-bottom: 4px;

    }

    .multi-line-txt {

        margin-top: 16px;
        margin-bottom: 16px;

    }

    .social-container {

        margin-top: 24px;
        margin-bottom: 24px;

    }

    .headline {

        color: currentColor;
        font-weight: bold;
        font-size: 1.3rem;

    }

    .uppercase {

        text-transform: uppercase;

    }

    .section-headline {

        display: flex;
        flex: 1 1 100%;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-left: 12px;
        font-weight: lighter;
        font-size: 1.3rem;
        letter-spacing: 6px;
        text-transform: uppercase;

    }

    .section-content {

        margin-top: 12px;
        padding-left: 28px;

        &--no-inset {

            padding-left: 0;

        }

    }

    .section-content__item {

        position: relative;
        display: block;
        margin-bottom: 6px;

        &::before {

            content: "";
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -8px;
            background-color: @accent-color;
            opacity: 0;
            transition: opacity .23s linear;
            width: 1px;

        }

        &:last-child {

            margin-bottom: 0;

        }

        &:hover {

            &::before {

                opacity: 1;

            }

        }

    }

    .section-content__item-grid {

        flex: 1 1 auto;

        margin-bottom: 8px;
        padding-right: 8px;

    }

    .section-content__link {

        display: flex;
        flex-direction: column;

        &-clients-container {

            padding-left: 24px !important;

        }

        .section-content__subheader {

            position: relative;
            gap: 6px;

            h4,
            h5,
            h5 + small {

                white-space: nowrap;
                line-height: 1.5;

            }

            h4 {

                flex: 1 1 auto;

            }

            h5 {

                font-size: 1rem;
                text-decoration: underline;

                + small {

                    position: absolute;
                    font-size: .7rem;
                    top: 5px;
                    right: -18px;

                }

            }

        }

        small.section-content__text--light {

            text-align: right;

        }

    }

    .section-content-grid {

        display: flex;
        flex: 1 1 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 2px;
        margin-top: 6px;

        &--no-padding {

            padding-left: 0;

        }

    }

    .contributions-section {

        flex-direction: column;

        h4 {

            white-space: nowrap;

        }

        h4 + small {

            display: block;
            width: 100%;
            flex: 1;
            white-space: nowrap;

        }

    }

    .grid-item {

        position: relative;
        padding: 1px 3px;
        display: inline-block;
        vertical-align: middle;

        > .hot-icon {

            position: absolute;
            font-size: 12px;
            top: -6px;
            right: -4px;
            line-height: 1;
            width: auto;
            height: auto;

        }

    }

    .section-content__header {

        display: flex;
        flex: 1 1 100%;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        font-weight: 500;

        font-size: 1.1em;

    }

    .squarred-grid-item {

        position: relative;
        display: block;
        height: 21px;

        margin: .5px auto;
        padding: 4px 6px;
        overflow: hidden;
        color: currentColor;
        font-weight: lighter;
        background-color: @accent-color;

        border: 1px solid @accent-color;
        cursor: pointer;
        transition: all .23s cubic-bezier( .175, .885, .32, 1.275 );

        &--medium {

            font-weight: normal;

        }

        &--bigger {

            font-weight: bolder;

        }

        > .squarred-grid-item-level,
        > .squarred-grid-item-name {

            display: inline-block;
            vertical-align: middle;

        }

        > .squarred-grid-item-level {

            position: absolute;
            top: 5px;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            transform: rotateY( 3deg ) scale( .9 ) translateX( -6px );
            opacity: 0;
            transition: all .23s cubic-bezier( .175, .885, .32, 1.275 );

        }

        > .squarred-grid-item-name {

            opacity: 1;

        }

        &:hover,
        &:focus,
        &:active {

            background-color: transparent;
            border-color: #333;

            > .squarred-grid-item-level {

                transform: rotate( 0 ) scale( 1 );

                opacity: 1;

            }

            > .squarred-grid-item-name {

                opacity: 0;

            }

        }

    }

    .section-content {

        &__subheader {

            display: flex;
            flex: 1 1 100%;
            flex-direction: row;
            align-items: center;
            width: 100%;
            font-weight: bolder;

            pre {

                max-width: 100%;

            }

            > em {

                padding-right: 16px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 100%;

            }

        }

        &__text {

            display: block;

            &,
            &--light {

                font-weight: lighter;

            }

            &--light {

                justify-content: space-between;

            }

        }

        &__text,
        &__subheader,
        &__text--light,
        &__header {

            line-height: 1.5;

        }

        &__platforms {

            flex-flow: column;
            align-items: flex-start;
            gap: 4px;

            pre {

                overflow-x: auto;
                white-space: nowrap;

            }

        }

    }

    .lang-icon {

        font-size: 3em;

    }

    .experience-section {

        .section-content__header {

            font-weight: normal;

        }

        .section-content {

            display: flex;
            flex-flow: column;
            gap: 5px;
            margin-top: 1px;
            padding-left: 4px;

            .section-content__item {

                margin-bottom: 0 !important;

            }
            .section-content__text {

                line-height: 1.38 !important;
                margin-left: -22px;
                margin-right: -22px;
                font-size: 81%;

            }

        }

        .experience-section .section-content {

            margin-top: 3px;
            gap: 1px;
            margin-bottom: 4px;

        }

        .section-content__subheader {

            margin-bottom: -1px;

        }
        .section-content-grid {

            justify-content: flex-start;
            padding: 0 !important;
            margin: 3px -24px 0 !important;
            font-size: 74%;

            .grid-item {

                border: 1px solid currentColor;

            }

        }

    }

    .experience__note {

        flex-basis: 100%;
        font-weight: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: right;
        cursor: help;
        opacity: .81;

        &,
        &__pre {

            transition: all .6s cubic-bezier( .175, .885, .32, 1.275 );

        }

        &__pre {

            display: inline-block;
            margin-right: 8px;
            font-size: 92%;
            transform: rotate( 81deg );

        }

        &:hover,
        &:active,
        &:focus {

            opacity: 1;

            > .experience__note__pre {

                transform: rotate( 63deg );

            }

        }

    }

    .projects-section {

        .section-content {

            padding-left: 16px;

        }

    }

    .hobbies-container {

        margin: 8px auto;

    }

    .hobbies-content {

        display: flex;
        flex: 1 1 100%;
        flex-direction: column;

    }

    .hobby-item {

        display: flex;
        flex: 1 1 100%;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        margin-top: 4px;
        margin-bottom: 4px;
        min-height: 20px;

        .emoji-icons {

            font-size: 1rem;

        }

        .material-icons,
        .emoji-icons {

            position: static;
            height: 19px;

        }

    }

    .subheadline {

        display: inline-block;
        margin-bottom: 8px;

    }

    .section--without-common-styles {

        .section-content__item {

            margin-left: 0;
            border-width: 0;

        }

        h4 {

            &::before {

                display: none;

            }

        }

    }

    .languages-section {

        .language-item__icon-label {

            min-width: 54px;
            display: inline-block;
            vertical-align: middle;

        }

    }

    // Lang Switcher
    .language-switcher {

        display: none;
        position: fixed;
        bottom: 16px;
        left: auto;
        right: auto;
        margin: 0 auto;
        text-align: center;

        a,
        button {

            border-radius: 6px;
            padding: 16px;
            background-color: #fff;
            border: 1px solid @accent-color;

        }

    }

    // PDF view
    &.is-website {

        .page-inside {

            &.cover-letter {

                .cover-letter__section {

                    mix-blend-mode: darken;

                }

            }

        }

        .language-switcher {

            display: block;

        }

    }

}
